
# Playwright
node_modules/
test-results/
allure-results/
allure-report/
playwright-report/
blob-report/
playwright/.cache/
/playwright/.auth/
test-results/
.vscode/
.env
.env.local
.env.*.local
for own reference-DO NOT UPLOAD.md